spring:
  application:
    name: service-register-center
  mandatory-file-encoding: UTF-8

server:
    port: 10097

management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    shutdown:
      enabled: true

eureka:
  instance:
    hostname: node1
    prefer-ip-address: false
  client:
    # 指定是否注册到 Eureka
    # 由于是服务器不能注册到自己
    # 因此为 false
    # 如果配置集群，需要注册到其他的服务器中
    # 因此为 true
    registerWithEureka: false
    fetchRegistry: false
    service-url:
      defaultZone: http://node3:10099/eureka/, http://node2:10098/eureka/
      # 集群其他服务器地址
      # defaultZone: http://node1:10097/eureka/, http://node3:10099/eureka/
